<div
  data-aos="fade-up"
  class="swiper my-swiper bg-primary serif-title text-warning my-fs-md-8 py-4 py-md-6 <%= addClass %>">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide w-auto"><%= text %></div>
    <div class="swiper-slide w-auto"><%= text %></div>
  </div>
</div>
