<li data-aos="fade-up" class="col-4 col-lg-2">
  <a
    href="#"
    class="card align-items-center border border-2 border-black h-100">
    <img
      src="<%= imgurl %>"
      alt="category image"
      class="card-img mb-2 mb-md-3" />

    <h5 class="my-fs-4 my-fs-md-6"><%= title %></h5>
  </a>
</li>
