@import "https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap";
@import "https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap";
@import "/assets/scss/helpers/icofont/icofont.min.css";
@import "https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css";
// @import "https://unpkg.com/aos@2.3.1/dist/aos.css";

body * {
  margin: 0;
  padding: 0;
  // outline: 1px solid darkorchid;
}

body {
  font-family: $font-family-sans;
  line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $font-family-serif;
  line-height: normal;
}

a.nav-link {
  color: $primary;
}
