$font-size-base: 1rem;

// 4的倍數 12px ~ 64px
$utilities: (
  "my-font-size": (
    responsive: true,
    property: font-size,
    class: my-fs,
    values: (
      3: $font-size-base * 0.75,
      4: $font-size-base * 1,
      5: $font-size-base * 1.25,
      6: $font-size-base * 1.5,
      7: $font-size-base * 1.75,
      8: $font-size-base * 2,
      9: $font-size-base * 2.25,
      10: $font-size-base * 2.5,
      11: $font-size-base * 2.75,
      12: $font-size-base * 3,
      13: $font-size-base * 3.25,
      14: $font-size-base * 3.5,
      15: $font-size-base * 3.75,
      16: $font-size-base * 4,
    ),
  ),
);
