<header class="header">
  <div class="container">
    <nav class="navbar navbar-expand-md position-static py-3 py-md-6">
      <div
        class="d-flex justify-content-between justify-content-md-start w-100">
        <!-- header logo & title -->
        <a class="d-flex align-items-center me-md-12" href="./index.html">
          <h1 class="d-flex">
            <img
              class="header-img me-lg-4"
              src="../assets/images/logo.png"
              alt="logo" />
            <div class="d-none d-lg-flex align-items-center">
              <span class="eng-title fw-normal me-1 my-fs-8">7TAO</span>
              <small class="my-fs-4 text-nowrap">活動訂票網</small>
            </div>
          </h1>
        </a>
        <!-- search bar -->
        <div class="input-group">
          <input
            class="form-control border border-2 border-primary px-3 py-2 px-md-6 py-md-4"
            type="search"
            placeholder="探索活動" />
          <button type="button" class="btn-search px-3 py-2 p-md-4" href="#">
            <i class="icofont-search-1"></i>
          </button>
        </div>
        <!-- hamburger button -->
        <button
          class="navbar-toggler px-3 py-1 border-primary rounded-1"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarhamburger">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <!-- hamburger menu -->
      <div
        class="collapse navbar-collapse py-4 p-md-0 mt-md-0"
        id="navbarhamburger">
        <ul class="container login navbar-nav eng-title px-3 pe-md-0">
          <li class="nav-item">
            <a
              class="nav-link me-6"
              href="#registerModal"
              data-bs-toggle="modal"
              ><i class="icofont-ui-file me-1"></i>REGISTER</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./login.html"
              ><i class="icofont-ui-user me-1"></i>LOGIN</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <!-- Register Modal -->
    <div class="modal register-modal fade" id="registerModal" tabindex="-1">
      <div class="modal-dialog" style="max-width: 636px">
        <div class="modal-content">
          <div class="modal-header border-primary border-3">
            <h1 class="modal-title my-fs-6 mx-auto">立刻成為7TAO會員</h1>
            <button
              type="button"
              class="btn-close ms-0"
              data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body py-8 py-md-12 text-center">
            <p class="mb-6">
              立刻成為七逃會員，加速活動報名流程並取得活動優惠資訊。<br />
              您也可以先報名活動，日後再註冊帳號，<br />
              系統會在認證您的Email後，協助您找回舊的訂單。
            </p>

            <button
              type="button"
              class="btn btn-primary my-fs-5 fw-bold py-2 px-8">
              立刻成為會員
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
