form {
  .btn-submit {
    font-size: 18px;
    @include media-breakpoint-up(md) {
      font-size: 20px;
    }
  }

  &.was-validated .form-control:invalid {
    border-color: $danger;
  }
}

.form-title {
  letter-spacing: 1.2px;
}
