<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>活動詳情 | 活動訂票網</title>
  </head>

  <body>
    <%- include('./layout/header'); %>

    <main class="container">
      <!-- event date -->
      <section>
        <div class="card eventDate-card border-0">
          <div class="row gy-2">
            <div class="col-md-10">
              <div class="card-body p-3 p-md-6 border border-primary border-3">
                <img
                  src="../assets/images/event/09.jpg"
                  class="img-fluid"
                  alt="event picture" />
              </div>
            </div>
            <div class="col-md-2">
              <div class="row flex-md-column h-100">
                <div class="col-4 col-md-12 mb-md-6">
                  <p
                    class="yyyy eng-title my-fs-6 my-fs-lg-12 text-center border border-primary border-3 h-100">
                    2023
                  </p>
                </div>
                <div class="col-8 col-md-12 flex-md-grow-1">
                  <div
                    class="d-flex justify-content-between flex-md-column border border-primary border-3 py-3 px-6 py-lg-12 px-md-0 h-100 position-relative">
                    <p class="mmdd eng-title text-center">MAY<br />19</p>
                    <p class="hh eng-title text-center my-fs-lg-8">
                      12:00<br />|<br />20:00
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- event content -->
      <section>
        <div class="card eventContent-card mb-6 mb-md-12 border-0">
          <div class="card-header bg-transparent p-0">
            <h2 class="card-title my-fs-8 my-fs-md-15 mb-md-4">
              返老還童-制服聯誼
            </h2>
            <p class="card-subtitle mt-0 mb-6">
              穿上制服，無年齡限制，一起走上街頭、尋找青春才有的純愛心動！
            </p>
            <div class="d-none d-md-flex gap-2 mb-12">
              <%- include("./pages/partials/tag", {tags: ["聯誼","美食", "戶外",
              "交通旅遊"]}); %>
            </div>
          </div>
          <div
            class="card-body border border-primary border-2 border-md-3 p-md-8">
            <p class="card-text mb-4">想回到過去？試著讓故事繼續？</p>
            <p class="card-text mb-4">
              由戀愛家教「艾德溫」主辦策劃，讓各位在安排好的青春行程中擁有自然的純愛互動體驗，互相餵食餅乾、觀察對方手相，有趣的互動環節讓你/妳怦然心動！制服由主辦方提供，妝髮造型可額外加價購！
            </p>
            <p class="card-text">
              活動中全程會有隨行攝影師，捕捉你們的純愛互動，拍攝成實境電視劇，讓你們能留下永恆的美好回憶
              &lt;3
            </p>
          </div>
        </div>
      </section>

      <!-- ticket info -->
      <section>
        <%- include("./pages/partials/topic", {title: "TICKET", subtitle:
        "購票資訊", classList: "mb-2 mb-md-4"}); %>

        <table class="table ticketTable text-left text-nowrap">
          <thead>
            <tr>
              <th scope="col">活動日期</th>
              <th scope="col">票種</th>
              <th scope="col">票價</th>
              <th scope="col">購票</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2023/5/12</td>
              <td>普通票</td>
              <td>$600</td>
              <td>
                <a
                  class="btn ticket-btn py-2 border-primary"
                  href="./checkout.html"
                  ><span class="d-none d-md-inline">立刻</span>購票</a
                >
              </td>
            </tr>
            <tr>
              <td>2023/5/12</td>
              <td>改頭換面票（含大改造）</td>
              <td>$3600</td>
              <td>
                <a
                  class="btn ticket-btn py-2 border-primary"
                  href="./checkout.html"
                  ><span class="d-none d-md-inline">立刻</span>購票</a
                >
              </td>
            </tr>
            <tr>
              <td>2023/5/12</td>
              <td>必勝票（含戀愛小抄）</td>
              <td>$8000</td>
              <td>
                <a
                  class="btn ticket-btn py-2 border-primary"
                  href="./checkout.html"
                  ><span class="d-none d-md-inline">立刻</span>購票</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </main>

    <%- include('./layout/footer'); %>

    <script type="module" src="../main.js"></script>
  </body>
</html>
