<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>會員登入 | 活動訂票網</title>
  </head>
  <body class="vh-100">
    <%- include('./layout/header'); %>

    <main class="container h-75">
      <div class="row justify-content-center mt-6 mt-md-15">
        <div class="col-md-4">
          <form class="d-flex flex-column needs-validation" novalidate>
            <img
              src="../assets/images/sparkler.png"
              alt="logo"
              width="32"
              height="32"
              class="mx-auto mb-4" />
            <h2 class="form-title my-fs-6 text-center mb-2">會員登入</h2>
            <div class="mb-4">
              <label for="account" class="form-label text-black mb-2"
                >帳號</label
              >
              <input
                type="text"
                class="form-control my-fs-5 py-2 px-4"
                id="account"
                placeholder="請輸入帳號"
                required />
              <div class="invalid-feedback">請輸入帳號</div>
            </div>
            <div class="mb-8">
              <label for="password" class="form-label text-black mb-2"
                >密碼</label
              >
              <input
                type="password"
                class="form-control my-fs-5 py-2 px-4"
                id="password"
                placeholder="請輸入密碼"
                required />
              <div class="invalid-feedback">請輸入密碼</div>
            </div>

            <button
              type="submit"
              class="btn btn-primary btn-submit fw-bold py-4 py-md-2 w-100">
              <span class="me-1">登入</span>
              <i class="icofont-rounded-double-right"></i>
            </button>
          </form>
        </div>
      </div>
    </main>

    <%- include('./layout/footer'); %>

    <script type="module" src="../main.js"></script>
  </body>
</html>
